.white-theme,
.light-theme,
html[data-theme="light"],
html[data-theme="white"] {

  --base00: #002635;
  --base01: #00384d;
  --base02: #517F8D;
  --base03: #6C8B91;
  --base04: #869696;
  --base05: #a1a19a;
  --base06: #e6e6dc;
  --base07: #fafaf8;
  --base08: #ff5a67;
  --base09: #f08e48;
  --base0A: #e8bf2d;
  --base0B: #7fc06e;
  --base0D: #1d74ae;
  --base0C: #27b4b1;
  --base0E: #9a70a4;
  --base0F: #c43060;

  // --base00: #1B2B34;
  // --base01: #343D46;
  // --base02: #4F5B66;
  // --base03: #65737E;
  // --base04: #A7ADBA;
  // --base05: #C0C5CE;
  // --base06: #CDD3DE;
  // --base07: #D8DEE9;
  // --base08: #EC5f67;
  // --base09: #F99157;
  // --base0A: #FAC863;
  // --base0B: #99c794;
  // --base0C: #20B2AA;
  // --base0D: #6699CC;
  // --base0E: #C594C5;
  // --base0F: #AB7967;

  --ph-highlight-color-blue: var(--base0D);
  --ph-highlight-color-green: var(--base0B);
  --ph-highlight-color-red: var(--base08);
  --ph-highlight-color-purple: var(--base0E);
  --ph-highlight-color-yellow:  var(--base0A);
  --ph-highlight-scroll-into-color: var(--base08);

  --oz-red: var(--base08);
  --oz-orange: var(--base09);
  --oz-yellow: var(--base0A);
  --oz-green: var(--base0B);
  --oz-blue: var(--base0D);
  --oz-cyan: var(--base0C);

  --oz-primary-color:var(--base0D);
  --oz-secondary-color: var(--base06);
  --oz-warning-color: var(--oz-red);
  --oz-success-color: var(--oz-bright-green);
  --oz-highlight-color: var(--oz-bright-cyan);

  --oz-priority-a-color: var(--oz-red);
  --oz-priority-b-color: var(--oz-orange);
  --oz-priority-c-color: var(--oz-yellow);

  --color-level-1: #f8f9fa;
  --color-level-2: #e9ecef;
  --color-level-3: #dee2e6;
  --color-level-4: #b9bcbe;
  --color-level-5: #aaaeb4;
  --color-level-6: #9da2a8;

  --ls-primary-background-color: #ffffff;
  --ls-secondary-background-color: var(--color-level-1);
  --ls-tertiary-background-color: var(--color-level-2);
  --ls-quaternary-background-color: var(--color-level-2);
  --oz-codeblock-background-color: var(--color-level-1);

  --ls-border-color: var(--ls-tertiary-background-color);

  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

  --ls-primary-text-color: var(--base00);
  --ls-secondary-text-color: var(--base01);

  --ls-link-text-color: var(--oz-primary-color);
  --ls-link-ref-text-color: var(--oz-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);

  --ls-active-primary-color: var(--oz-primary-color);
  --ls-active-secondary-color: var(--oz-secondary-color);
  --ls-external-link-color: var(--oz-secondary-color);

  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);

  --ls-icon-color: var(--ls-primary-text-color);

  --ls-page-properties-background-color: var(--ls-tertiary-background-color);

  --ls-selection-color: #fff;
}
